<nav class="topnav">
    <h1>Global Books</h1>
    <input type="text"  placeholder="Search..">
    <h2><a href="/add">Add</a></h2>
	<button  type="submit" ><i class="fa fa-search"></i></button>
</nav>



<nav class="sidebar">
  <ul>
      <li><a href="/selfimprovement">Self Improvement</a></li>
      <li><a href="/selfimprovement">Action</a></li>
      <li><a href="/selfimprovement">Mystery</a></li>
      <li><a href="/selfimprovement">Fantasy</a></li>
      <li><a href="/selfimprovement">Educational</a></li>
      <li><a href="/selfimprovement">Philosophy</a></li>
      <li><a href="/selfimprovement">Horror</a></li>
      <li><a href="/selfimprovement">Triller</a></li>
      <li><a href="/selfimprovement">Sci-Fi</a></li>

  </ul>


</nav>